name: Update header every 5 minutes

on:
  push:
  schedule:
    - cron: "* * * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install dependencies
        run: yarn install
      - name: Create env file
        run: |
          touch .env
          echo "SPOTIFY_CLIENT_ID={{ secrets.SPOTIFY_CLIENT_ID }}" >> .env
          echo "SPOTIFY_CLIENT_SECRET={{ secrets.SPOTIFY_CLIENT_SECRET }}" >> .env
          echo "SPOTIFY_REFRESH_TOKEN={{ secrets.SPOTIFY_REFRESH_TOKEN }}" >> .env
          echo "TWITTER_ACCESS_TOKEN={{ secrets.TWITTER_ACCESS_TOKEN }}" >> .env
          echo "TWITTER_ACCESS_TOKEN_SECRET={{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}" >> .env
          echo "TWITTER_API_KEY={{ secrets.TWITTER_API_KEY }}" >> .env
          echo "TWITTER_API_SECRET={{ secrets.TWITTER_API_SECRET }}" >> .env
      - name: Run script
        run: yarn start